<div class="flex w-full py-3 px-1">
    <div class="pt-1">
        <img class="w-10 h-10 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
    </div>
    <div class="pl-4">
        <div class="flex flex-row items-center">
            <p class="text-base font-semibold text-gray-700 dark:text-gray-300 pr-2">John Smith</p>
            <p class="text-sm text-gray-600 dark:text-gray-400">01/02/2023</p>
        </div>
        <p class="text-base text-gray-700 dark:text-gray-100 pr-2">Message here lorem ipsum dolor sit amit</p>
    </div>
</div>
