<div class="flex w-full py-3 px-1">
    <div class="pt-1 shrink-0">
        <img class="w-10 h-10 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
    </div>
    <div class="pl-4">
        <div class="flex flex-row items-center">
            <p class="text-base font-semibold text-gray-700 dark:text-gray-300 pr-2">John Smith</p>
            <p class="text-sm text-gray-600 dark:text-gray-400">01/02/2023</p>
        </div>
        <p class="text-base text-gray-700 dark:text-gray-100 pr-2 w-full">Lorem ipsum dolor sit amet consectetur. Amet turpis egestas pellentesque aliquam egestas vel quis. Non amet magna amet enim bibendum mi vitae mauris ut. Blandit a quam elementum neque. Vulputate eu viverra elit consequat amet. Tortor quis sed tellus sagittis sem adipiscing ornare. Aliquam odio quam eros amet accumsan et. Sit urna quis pellentesque at. Neque euismod venenatis mi tortor augue pulvinar molestie. Ultricies mauris consequat egestas pretium.</p>
    </div>
</div>
