<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 px-3 py-3 lg:px-5 lg:pl-3 flex items-center justify-between">
    <!-- Logo and mobile menu -->
    <div class="flex items-center justify-start  w-64">
        <!-- Insert mobile menu here if want ??-->
        <a routerLink="/client" class="flex ml-2 md:mr-24">
            <img src="../../../assets/pidgin-logo-dark.svg " class="h-6 mr-3" alt="Pidgin Logo" />
        </a>
    </div>

    <!--Search-->
    <app-search class="w-8 flex grow pr-12"></app-search>

    <!-- Profile -->
    <app-profile firstName="Heidi" lastName="Cossins" image="https://robohash.org/heidi"></app-profile>
</nav>
