<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 px-3 py-3 lg:px-5 lg:pl-3 flex items-center justify-between">
    <!-- Logo and mobile menu -->
    <div class="flex items-center justify-start  w-64">
        <!-- Insert mobile menu here if want ??-->
        <a routerLink="/client" class="flex ml-2 md:mr-24 flex flex-row">
            <img src="../../../assets/pidgin-mark.svg " class="h-8 mr-2" alt="Pidgin Logo" />
            <p class="text-2xl font-semibold tracking-tighter text-gray-800 dark:text-gray-100">Pidgin</p>
        </a>
    </div>

    <!--Search-->
    <app-search class="w-8 flex grow pr-12"></app-search>

    <!-- Profile -->
    <!-- Logs the user out upon click-->
    <a routerLink="">
        <app-profile firstName="Heidi" lastName="Cossins" image="https://robohash.org/heidi"></app-profile>
    </a>
</nav>
