<div class="flex justify-between items-center bg-gray-100 dark:bg-gray-900 border-b border-gray-300 dark:border-gray-800 py-4 px-6 ">
    <p class="text-2xl text-gray-700 dark:text-gray-200">Chat Name</p>
    <div class="flex flex-row-reverse">
        <img class="w-8 h-8 rounded-full border-2 border-gray-100 dark:border-gray-700" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
        <img class="-mr-2 w-8 h-8 rounded-full border-2 border-gray-100 dark:border-gray-700" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
    </div>
</div>
