<aside id="separator-sidebar" class="fixed top-16 left-0 z-40 w-64 h-screen transition-transform sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 pt-4 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
       <p class="space-y-2 px-2 py-1 font-medium tracking-tight text-lg text-gray-700 dark:text-gray-200 leading-6">{{ orgName }}</p>
        <app-channel-list></app-channel-list>
       <app-dm-list></app-dm-list>
    </div>
</aside>

<!--for mobile if we have time: -translate-x-full-->